#cnmpic{
	display:block;
	width:100%;
}
#cnmlogo{
	display:block;
	position:relative;
	width:320px;
	margin:50px auto;
	box-shadow:0px 0px 10px #bbb;
	padding:25px;
}
#title{
	margin-top: 100px;
	text-align: center;
}
@media only screen and (min-width: 650px) {
    #cnmlogo{
    	padding:50px;
        width:600px;
    }
}