body,html{
	width:100%;
	height:100%;
	text-align: center;
}
img{
	position:relative;
	display:block;
	width:100%;
}
#cnmlogo{
	display:block;
	position:relative;
	width:320px;
	top:50%;
	margin:auto;
	margin-top:-97.5px;

	padding:25px;
	box-shadow:0px 0px 10px #bbb;

}
#title{
	top:5%;
	position:absolute;
	width:100%;
	text-align:center;
}
@media only screen and (min-width: 650px) {
    #cnmlogo{
    	padding:50px;
        width:600px;
        margin-top:-186px;
    }
}