body{
	text-align:center;
	margin:0; 
}
button{
	cursor:pointer;
}
iframe{
	width:100%;
	height:100%;
	margin:0;
	margin-top:5px;
	margin-bottom:5px;
	padding:0;
	border:0;
	box-shadow:0px 0px 5px #bbb;
}
#links{
	width:50%;
	margin:auto;
}
#links{
	text-align:center;
}
a{
	display:block;
	margin-top:20px;
}
.chart{
	display:inline-block;
	width:90vw;
	padding:0;
	margin:0;
}