%p#reset
  %button Reset stack
#stack
  .card._1
    .front
      %p HTML
    .back
      %p HyperText Markup Language
  .card._2
    .front
      %p CSS
    .back
      %p Cascading Style Sheets
  .card._3
    .front
      %p PHP
    .back
      %p Hypertext Preprocessor
  .card._4
    .front
      %p SQL
    .back
      %p Structured Query Language