<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,  user-scalable = no">
<title>New Employee Orientation - CNM</title>
<link href="css/mobile.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
<script src="js/ender.min.js"></script>
<script src="js/selectnav.js"></script>

	<script>
		domready(function(){

			selectnav('nav', {
				label: '--- Navigation --- '
			});

			selectnav('nav1', {
				activeclass: 'ThisIsActive',
				nested: false,
				label: false
			});
			
	})
	</script>

	
</head>
<body>

	<nav><div id="nav-wrapper">
	<ul id="nav">
		<li><a href="../../../index.html">Home</a></li>
		<li><a href="../../pages/templates/NEOReader01.html">Cover</a></li>
		<li>
			<a style="background: rgb(8, 79, 145);">Selections:</a>
			<ul class="nav">
				<li><a href="../../pages/templates/NEOReader01.html">Chapter 1</a></li>
				<li><a>Chapter 2</a></li>
				<li><a href="../../pages/templates/NEOReader03.html">Chapter 3</a></li>
				<li><a href="../../pages/templates/NEOReaderGlossary.html">Glossary</a></li>
			</ul>
		</li>
	</div>
	</nav>
	<section id="main-content">
          <section class="wrapper">
          <iframe src="../../pages/chapter02/01.xhtml" style="border: 0; width: 99.6%; height: 1048px; padding-top: 17px;"></iframe>      
          </section>
          <footer class="footer dark-bg" style="margin-left: 10px; margin-top:-10px;">
			<a class="logo">CNM<span class="lite"> New Employee Orientation</span></a>			
		</footer>
      </section>
	</body>
	</html>