.hoveranswer{
	opacity:0;
}
.hoveranswer:hover{
	opacity:1;
}
.RBTtoggleAnswer{
	user-select:none;
	cursor:pointer;
	margin:5px;
	padding:10px;
	box-shadow:0px 0px 5px #bbb;
}
.RBTcheckboxAnswer{
	margin-top:2em;
	opacity:0;
}
.RBTanswer {
    opacity: 0;
    margin-top:1.5em;
}
.RBTcheckboxAnswer:checked + .RBTanswer{
	opacity:1;
}