html{
    padding: 5px;
    height:100%;
    margin:0;
    box-sizing: border-box;
}
body{
  text-align:center;
  box-sizing: border-box;
  margin:0; 
  padding:5px;
  border:2px dashed #bbb;
  height:100%;
}
button{
  cursor:pointer;
  width:100px;
  height:50px;
  background-color:teal;
  border:none;
  color:white;
  font-size:20px;
  border-radius: 5px;
  border-bottom:4px solid #136060;
}
button:active{
  border-bottom:2px solid #136060;
  transform: translateY(2px);
}
button:hover{
  background-color: #009696;
}
#links{
  width:50%;
  margin:auto;
}
#links{
  text-align:center;
}
  .feedback{
  	width:50%;
  	margin:auto;
  	color:red;
  	font-weight: bold;
  	font-size:1rem;
  	text-align: center;

  }
  .notif{
      padding:20px 5px 20px 5px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      position:fixed;
      width:90%;
      left:5%;
      height:100px;
      top:50%;
      border-radius:5px;
      margin-top:-50px;
      font-family:Arial;
      cursor:default;
      user-select:none;
      color:white;
      font-size:3rem;
      box-shadow:0px 0px 5px #bbb;
  }
  #myChart{
    width:80%;margin:30px auto 30px auto;
  }
  #incorrect{
    display:none;
    background:#ba0000;
    border-bottom:5px solid #960000;
  }
  	#correct{
      display:none;
  		background:green;
  		text-align:center;
  		color:white;
  		border-bottom:5px solid #006d00;
  	}
  	#correctclose,#incorrectclose{
  		position:absolute;
  		top:-8px;
  		right:5px;
  		cursor: pointer;
  	}
    #correctnext{
      cursor:pointer;
      position:absolute;
      font-size:1.5rem;
      top:0;
      right:15px;
      width:20%;
      height:100%;
      text-align: right;
      padding:27px 0px 0px 0px;
    }
    #correctnext p{
      margin:0;
    }
    #nextarrow{
      margin-top:-5px !important;
    }
  
  	button:focus{
  		outline: none;
  		
  	}
  	table{
      width:;
  		font-size:0.9em;
  		margin:20px auto 20px auto;
  		border:1px solid #000;
  		padding:0;
  		border-collapse: collapse;
  	}
  	td,th{
  		text-align: center;
  		border:1px solid #222;
  	}
  	th{
  		background:#ddd;
  	}
  	td,th{
  		padding:5px;
  	}
  	input{
  		text-align: center;
  	}
    @media (max-width: 450px) {
      table{
        font-size:0.65em;
      }
      #myChart{
        width:100%;
      }
      .notif{
        font-size:2em;
         padding:30px 5px 20px 5px;
      }
      #correctclose,#incorrectclose{
      position:absolute;
      top:0;
      right:5px;
      cursor: pointer;
    }
    #correctnext{
      font-size: 1rem;
      padding:37px 0px 0px 0px;
    }