#cover {
      position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: -1;
}
#outside {
    position: relative;
}
#slider {
    position: absolute;
    bottom: 30px;
    left: 35px;
    z-index: 1;
    width: 600px;
}
#map {
    position: relative;
    z-index: -2;
}