<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,  user-scalable = no">
<title>History of New Mexico - CNM</title>
<link href="css/mobile.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
<script src="js/ender.min.js"></script>
<script src="js/selectnav.js"></script>
<script>
		domready(function(){

			selectnav('nav', {
				label: '--- Navigation --- '
			});

			selectnav('nav1', {
				activeclass: 'ThisIsActive',
				nested: false,
				label: false
			});
			
	})
	</script>	
</head>
<body>
	<nav><div id="nav-wrapper">
	<ul id="nav">
		<li><a href="../../../index.html">Home</a></li>
		<li><a href="../../pages/templates/NMHReader01.html">Cover</a></li>
		<li>
			<a style="background: rgb(8, 79, 145);">Selections:</a>
			<ul class="nav">
				<li><a>Chapter 1</a></li>
				<li><a href="../../pages/templates/NMHReader02.html">Chapter 2</a></li>
				<li><a href="../../pages/templates/NMHReader03.html">Chapter 3</a></li>
				<li><a href="../../pages/templates/NMHReaderGlossary.html">Glossary</a></li>
				<a href="../../pages/templates/NMHReaderCredits.html">Credits</a>
			</ul>			
		</li>
	</div>
	</nav>
	<section id="main-content">
          <section class="wrapper">
          <iframe src="../../pages/chapter01/00.xhtml" style="border: 0; width: 100%; height: 1056px"></iframe>      
          </section>
          <footer class="footer dark-bg" style="margin-left: 10px; margin-top:-10px;">
			<a class="logo" style="align: center;">History of New Mexico<span class="lite"> Preview</span></a>			
		</footer>
      </section>
	</body>
	</html>