@charset "UTF-8";
/*--------------------------------------------------------------------
 * Inkling Core CSS
 * Version:         1.0.1
 * Author:          Inkling
 *
 * CAUTION: Editing this file may have unintended effects.
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *
 * Remove any browser-defined defaults that might affect layout.
 *------------------------------------------------------------------*/
/* The DIV element is not included in the reset as a requirement of 
the Habitat platform. */
/* [EPUB] The universal selector (*) has not been used because it throws 
an EPUB check warning.*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------------------------------------
 * Platform
 *
 * Platform-specific CSS for links and terms.
 *----------------------------------------------------------------*/
/* Inline Links */
.link-inline {
  color: #0091b2;
  text-decoration: none;
  margin-right: 0.2em;
  padding: 0.1em 1.2em 0.1em 0;
  background: url("images/icon-link-blue.svg") right center no-repeat;
  background-size: 1em auto;
}

.link-inline[href*="[chapter"],
.link-inline[href*="[Chapter"],
.link-inline[rel="chapter"],
.link-inline[rel="jump"] {
  padding-right: 1em;
  background: url("images/icon-link-jump-blue.svg") right center no-repeat;
  background-size: 1em auto;
}

/* Definitions */
dfn {
  font-weight: 700;
  font-style: normal;
  margin-right: 0.2em;
  padding-right: 1.1em;
  background: url("images/icon-definition-blue.svg") right center no-repeat;
  background-size: 1em auto;
}

dfn > em {
  font-weight: 400;
}

/* Remarks */
[href*="[remark"],
[rel="remark"] {
  color: #0091b2;
  text-decoration: none;
}

[href*="[remark"] a,
[rel="remark"] a {
  font-size: normal;
}

[href*="[remark"].remark-large,
[rel="remark"].remark-large {
  font-size: inherit;
  vertical-align: inherit;
}

a[href*="[remark"],
a[rel="remark"] {
  vertical-align: super;
  font-size: 80%;
  line-height: 0.9em;
  /* fixes line-height bug */
}

/*--------------------------------------------------------------------
 * Scrollable
 * 
 * Provides a way to scroll content that is too wide for the content 
 * window. When the page loads, reader.js determines if the content 
 * needs to scroll. If so, it will add `.s9-is-scrollable` class to 
 * the surrounding div.
 * Note: This requires `<div class="s9-scrollable">` to surround the 
 * content you want to scroll.
 *------------------------------------------------------------------*/
.s9-scrollable {
  display: block;
  width: 100%;
  overflow-y: auto;
  clear: both;
}

.s9-scrollable figure > img.equation,
.s9-scrollable .equation-key > img.equation {
  padding: 0 10px;
  box-sizing: content-box;
}

.s9-scrollable img {
  max-width: none;
}

.s9-scrollable > table {
  /* For scrollable HTML tables */
  text-align: left;
  width: 100%;
}

.s9-scrollable.s9-is-scrollable {
  box-shadow: inset 1px 0px 5px #CCC;
  margin-top: .7em;
  margin-bottom: .7em;
}

.s9-scrollable.s9-is-scrollable > table {
  /* For scrollable HTML tables */
  min-width: 620px;
}

/* Fixes a scrolling bug in iOS */
.s9-scrollable table {
  -webkit-transform: none !important;
}

body > .s9-scrollable {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  body > .s9-scrollable {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  body > .s9-scrollable {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  body > .s9-scrollable {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  body > .s9-scrollable {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

/*--------------------------------------------------------------------
 * Audio Button
 *
 * Styling for inline audio player button. Change this only if 
 * absolutely necessary.
 *------------------------------------------------------------------*/
.s9-audio-button-custom {
  margin-top: 23px;
  display: inline-block;
  padding: 6px 10px 6px 40px;
  color: #fff;
  text-decoration: none;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  font-size: .8em;
  font-weight: 600;
  line-height: 1.1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 5px;
  background: #222 url(images/white/icon-audio.svg) no-repeat 10px center;
  background-size: 20% auto;
}

.s9-audio-button-custom.s9-active {
  opacity: .5;
}

/*------------------------------------------------------------------
* Habitat Tweaks
*
* Required for Habitat App
*----------------------------------------------------------------*/
figure > a,
figure > img,
figure .figure-image {
  /* Required for tap highlight */
  display: block;
}

/*--------------------------------------------------------------------
 * Key Terms
 *
 * Uses floated list items to create the holders for the data.
 * `.no-link` is used for page numbers that do not have links in Key 
 * Terms Cloud Extended.
 * See [Key Term](/pattern-library/core-patterns/lists/key-term/) 
 * for example HMTL.
 *------------------------------------------------------------------*/
.key-term {
  padding-left: 0;
  overflow: hidden;
}

.key-term li {
  float: left;
  display: table;
  list-style: none;
  margin: 0 0.6em 0.6em 0;
  border: 1px solid #A9ABAE;
  border-right: none;
  background: #fff;
  position: relative;
}

.key-term li > dfn, .key-term li > .term-only, .key-term li > .nolink {
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.4em;
  font-style: normal;
  color: #000;
  background: none;
  display: table-cell;
  padding: 0.5em;
  border-right: 1px solid #A9ABAE;
  height: 1.5em;
}

.key-term li > dfn:after, .key-term li > .term-only:after, .key-term li > .nolink:after {
  width: 1em;
  height: 1em;
  display: inline-block;
  padding-left: .2em;
  content: "";
  background: url("images/icon-definition-blue.svg") 100% 0.2em no-repeat;
  background-size: .9em auto;
  top: 2px;
  position: relative;
}

.key-term li > .term-only:after, .key-term li > .nolink:after {
  content: none;
}

.key-term a {
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  font-weight: 600;
  color: black;
  padding: 0.1em 1.1em 0.1em 0.5em;
  margin-right: .5em;
  background: url("images/icon-link-blue.svg") 100% 0.2em no-repeat;
  background-size: .9em auto;
}

.key-term a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid #A9ABAE;
}

/*--------------------------------------------------------------------
 * Key Term Extended
 *------------------------------------------------------------------*/
.key-term-extended {
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4em;
  list-style: none;
  padding: 0;
}

.key-term-extended li {
  margin: .5em 0;
}

/*------------------------------------------------------------------
 * S9 Video
 *----------------------------------------------------------------*/
video {
  width: 100% !important;
  height: auto !important;
}

.s9-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.s9-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------------
 * Shapes
 * 
 * CSS generated shapes. Useful for displaying blocks of color
 * or adding background images (such as circular profile images).
 *------------------------------------------------------------------*/
.shape-circle {
  display: block;
  border-radius: 50%;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

.shape-square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.shape-rect {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

/*------------------------------------------------------------------
 * Base
 *
 * Base CSS for page color, typogrpahy and margins.
 * WARNING: Editing these styles may cause unintended effects.
 *----------------------------------------------------------------*/
body {
  clear: both;
  display: block;
  background: #fff;
  color: #222;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

body:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 560px) {
  body {
    margin-top: 57px;
    padding-bottom: 57px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 820px) {
  body {
    margin-left: 140px;
    margin-right: 140px;
  }
}

/*--------------------------------------------------------------------
 * Base Fonts and Sizes
 *------------------------------------------------------------------*/
/* Set the base font sizes for small and larger screens
The font size should be set on the <html> element, so that the
reader can adjust the size as it cascades by targeting the 
<body> element. */
html {
  font-size: 17px;
}

@media (min-width: 560px) {
  html {
    font-size: 19px;
  }
}

body {
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  font-weight: 400;
  line-height: 1.5;
}

/*------------------------------------------------------------------
 * Font Features
 *
 * Utilize font-smoothing when possible.
 *----------------------------------------------------------------*/
/* Add kerning ligatures to a small set of elements when 
 available. Do not add to the body or large blocks of text for 
 performance reasons. */
h1, h2, h3, h4, h5, h6,
blockquote {
  text-rendering: optimizeLegibility;
}

/* We have opted to not include -webkit-font-smoothing modifications
because every font and contrasting color choices yeilds mixed
results and can sometimes appear blurry. YMMV. */
/*--------------------------------------------------------------------
 * Inline Styles
 *
 * Styles for most inline tags and several custom spans.
 *------------------------------------------------------------------*/
/* strong / bold */
b, strong {
  font-weight: 700;
}

/* italics / emphasis */
i, em {
  font-style: italic;
}

/* strikethrough */
s,
.strike {
  text-decoration: line-through;
}

/* deleted text */
del {
  text-decoration: line-through;
}

/* inserted text */
ins {
  text-decoration: underline;
}

/* copyright and legal text */
small {
  font-size: 80%;
  line-height: 0.9em;
}

/* small, upercase font */
.smallcaps {
  font-variant: small-caps;
}

/* subscript and superscript */
sup, sub {
  vertical-align: super;
  font-size: 80%;
  line-height: 0.9em;
  /* fixes line-height bug */
}

sub {
  vertical-align: sub;
}

/* underline */
u,
.underline {
  text-decoration: underline;
}

/* double underline */
.u-double {
  text-decoration: none;
  border-bottom: 3px double #222;
}

/* lead-in sentence */
.lede,
.lead {
  color: #007db6;
  font-weight: 600;
}

/* add box around span */
.boxed, .boxed-small {
  border: 1px solid #090909;
  border-radius: 2px;
  line-height: 1;
  padding: 0.0526em 0.1579em;
}

/* add smaller box around span */
.boxed-small {
  font-size: 80%;
  line-height: 0.9em;
}

/*--------------------------------------------------------------------
 * Code
 * 
 * Code and monospace styles.
 *------------------------------------------------------------------*/
code,
kbd,
samp {
  background: #e5f2f7;
  border-radius: 2px;
  font-family: Courier, "Courier New", monospace;
  font-size: 80%;
  line-height: 0.9em;
  /* fixes line-height bug */
  padding: 2px;
  vertical-align: middle;
}

/* preformatted code blocks */
pre {
  margin-bottom: 1.5em;
  overflow-x: scroll;
  white-space: pre;
}

pre code {
  display: block;
  padding: 14.25px;
  line-height: 1.2;
  overflow: auto;
}

/*--------------------------------------------------------------------
 * Paragraphs
 *------------------------------------------------------------------*/
p {
  margin-bottom: 28.5px;
}

/*--------------------------------------------------------------------
 * Force wrap
 *
 * Forces long strings to wrap to the next line.
 *------------------------------------------------------------------*/
.force-break,
.force-wrap {
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*--------------------------------------------------------------------
 * Force Hyphen
 *
 * Use with `<span class="force-hyphen">Longunbrokenword</span>. 
 * Forces breaks at mobile size, otherwise tries to add hyphens for 
 * browsers that support it.
 *------------------------------------------------------------------*/
.force-hyphen {
  word-break: break-all;
}

@media (min-width: 560px) {
  .force-hyphen {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

/*--------------------------------------------------------------------
 * Drop Caps
 *------------------------------------------------------------------*/
/* dropcap */
.dropcap {
  float: left;
  font-size: 3.1579em;
  line-height: 0.9;
  padding-right: 0.1em;
  color: #007db6;
}

/* inverted dropcap with the letter "knocked out" of the color */
.dropcap-invert {
  float: left;
  font-size: 3.3684em;
  line-height: 0.9;
  background: #007db6;
  color: #fff;
  padding-top: 0.1406em;
  padding-right: 0.1875em;
  padding-bottom: 0.1406em;
  padding-left: 0.1875em;
  margin-top: 0.0938em;
  margin-right: 0.1562em;
}

/*------------------------------------------------------------------
 * Headings
 *----------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
  line-height: 1.2;
}

h1 {
  clear: both;
  font-size: 1.8947em;
  margin-bottom: 28.5px;
  line-height: 1.1;
  color: #007db6;
}

@media (min-width: 560px) {
  h1 {
    font-size: 2.2105em;
  }
}

h2 {
  clear: both;
  font-size: 1.8947em;
  margin-top: 28.5px;
  margin-bottom: 28.5px;
  font-size: 1.2632em;
  color: #002536;
}

@media (min-width: 560px) {
  h2 {
    font-size: 1.8947em;
  }
}

h3 {
  font-size: 1.2632em;
  margin-bottom: 28.5px;
  color: #00577f;
}

@media (min-width: 560px) {
  h3 {
    font-size: 1.2632em;
  }
}

h4 {
  font-size: 1.2632em;
  margin-bottom: 28.5px;
  color: #4ca4cb;
}

h5 {
  font-size: 1em;
  margin-bottom: 28.5px;
  color: #007db6;
}

h6 {
  font-size: 1em;
  margin-bottom: 28.5px;
  color: #00577f;
}

.subtitle {
  margin-top: -21.375px;
  color: #bbb;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

/*--------------------------------------------------------------------
 * Blockquotes
 *------------------------------------------------------------------*/
blockquote {
  clear: both;
  margin-bottom: 28.5px;
}

blockquote > :last-child {
  margin-bottom: 0 !important;
}

.blockquote {
  padding-left: 2.1053em;
}

.blockquote cite {
  display: block;
  color: #666;
  font-size: 80%;
}

.blockquote-a {
  border-left: 4px solid #007db6;
}

.blockquote-b {
  font-size: 1.2632em;
  line-height: 1.2;
}

/*--------------------------------------------------------------------
 * Lists
 *------------------------------------------------------------------*/
ol, ul {
  list-style-type: none;
  font-style: normal;
  margin-left: 1.5em;
  margin-bottom: 28.5px;
}

ol:after, ul:after {
  content: "";
  display: table;
  clear: both;
}

ol li, ul li {
  position: relative;
}

ol li p:last-of-type, ul li p:last-of-type {
  margin-bottom: 0;
}

ol ol, ol ul, ul ol, ul ul {
  /* Remove bottom margin from nested lists */
  margin-bottom: 0;
}

/* Remove extra padding after last paragarph in list items */
/* Make sure list-items outside of lists don't have a coutner */
body > li {
  list-style-type: none;
}

/* Ordered */
.list-decimal {
  list-style-type: decimal;
}

.list-upper-alpha {
  list-style-type: upper-alpha;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

/* Unordered */
.list-disc,
.list-bullet {
  list-style-type: disc;
}

.list-square {
  list-style-type: square;
}

.list-circle {
  list-style-type: circle;
}

/* Other list styles */
.list-no-style {
  list-style-type: none;
}

.list-no-indent {
  margin-left: 0;
}

.list-indent {
  margin-left: 3em;
}

.list-inside {
  margin-left: 0;
  list-style-position: inside;
}

.list-second-indent,
.list-second-line-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: upper-alpha;
}

ol ol ol {
  list-style-type: upper-roman;
}

ol ol ol ol {
  list-style-type: lower-alpha;
}

ol ol ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol ol ol {
  list-style-type: upper-alpha;
}

/* If the top-level list is set to upper-alpha, change the next
nested list to decmial so they are not the same */
.list-upper-alpha > li > ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: square;
}

ul ul ul {
  list-style-type: circle;
}

ul ul ul ul {
  list-style-type: disc;
}

ul ul ul ul ul {
  list-style-type: square;
}

ul ul ul ul ul ul {
  list-style-type: cirlce;
}

ul ul ul ul ul ul ul {
  list-style-type: disc;
}

/* If the top-level list is set to upper-alpha, change the next
nested list to decmial so they are not the same */
.list-square > li > ul {
  list-style-type: disc;
}

/*--------------------------------------------------------------------
 * List Images
 *
 * The list images can be changed by uploading new images to the
 * assets/css/images folder.
 *------------------------------------------------------------------*/
.list-image-checkbox, .list-image-star, .list-image-checkmark, .list-image-exmark {
  list-style-type: none;
  position: relative;
  clear: both;
}

.list-image-checkbox li:before, .list-image-star li:before, .list-image-checkmark li:before, .list-image-exmark li:before {
  content: "";
  background-size: 70% 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -1.5em;
  height: 1.5em;
  width: 1.5em;
}

.list-image-checkbox li, .list-image-star li, .list-image-checkmark li, .list-image-exmark li {
  counter-increment: section;
}

.list-image-checkbox li:before {
  background-image: url(images/icon-checkbox.svg);
}

.list-image-star li:before {
  background-image: url(images/icon-star.svg);
}

.list-image-checkmark li:before {
  background-image: url(images/icon-checkmark.svg);
}

.list-image-exmark li:before {
  background-image: url(images/icon-exmark.svg);
}

/*------------------------------------------------------------------
 * Two-column List
 *----------------------------------------------------------------*/
@media (min-width: 560px) {
  .list-two-column li {
    width: 50%;
    float: left;
    padding-right: 30px;
  }
}

/*--------------------------------------------------------------------
 * Links
 *
 * Text and button links.
 *------------------------------------------------------------------*/
a {
  color: #0091b2;
  font-weight: 600;
  text-decoration: underline;
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.button {
  clear: both;
  margin-bottom: 14.25px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background: #007db6;
  color: #fff;
}

.button-outline {
  margin-bottom: 14.25px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background: transparent;
  border: 1px solid #007db6;
  color: #007db6;
}

.button-a {
  width: 100%;
  display: block;
  color: #007db6;
  text-align: left;
  background: #e5f2f7;
  text-decoration: none;
  text-transform: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 3px solid #007db6;
  background-position: right 13.3333px top 50%;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-image: url(images/icon-arrow-black.svg);
}

.button-b {
  margin-bottom: 14.25px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 20px 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  background: #007db6;
  color: #fff;
  border: 1px solid #007db6;
  display: block;
}

/*--------------------------------------------------------------------
 * Tables
 *------------------------------------------------------------------*/
/* Remove any default spacing from tables. */
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  min-width: 100%;
  margin-bottom: 28.5px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  min-width: 100%;
  margin-bottom: 28.5px;
}

.table-a {
  margin-bottom: 28.5px;
  min-width: 100%;
  clear: both;
  table-layout: fixed;
}

.table-a td,
.table-a th {
  border: 1px solid #222;
  padding: 5px;
}

.table-a th {
  font-weight: 600;
}

.table-a caption {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 600;
}

.table-a.no-border {
  border: 0 none;
}

.table-a.no-border td {
  border: 0 none;
}

.small-one-column td {
  display: block;
}

@media (min-width: 560px) {
  .small-one-column td {
    display: table-cell;
  }
}

.table-a tr:first-child td {
  padding: 6.6667px;
  background: #e5f2f7;
  color: #002536;
}

.table-b tr:first-child td {
  border: 1px solid #e5f2f7;
  padding: 5px;
  border: 0 none;
  background: #007db6;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.table-b tr {
  border-bottom: 1px solid #bbb;
}

.table-b td {
  border: 0 none;
}

.table-c {
  border: 0;
  text-align: left;
}

.table-c tr:first-child {
  border-bottom: 2px solid #007db6;
}

.table-c tr:first-child td {
  color: #007db6;
}

.table-c td,
.table-c th {
  border: 0;
  padding: 6.6667px;
}

.table-c tr {
  border-bottom: 1px solid #007db6;
  color: #222;
}

.table-c tr:hover {
  color: #002536;
  background: #e5f2f7;
}

.table-d {
  border: 0;
  text-align: left;
  border-spacing: 20px;
  border-collapse: separate;
}

.table-d tr:first-child td {
  color: #007db6;
  border-bottom: 1px dashed #007db6;
}

.table-d tr {
  color: #222;
}

.table-d tr thead tr:hover {
  background: transparent;
}

.table-d tr td,
.table-d tr th {
  border: 0;
  padding: 0;
  text-align: center;
}

/* remove double padding when table appears inside a figure*/
figure table {
  margin-bottom: 0;
}

figure .table {
  margin-bottom: 0;
}

/*--------------------------------------------------------------------
 * Forms
 *------------------------------------------------------------------*/
button,
fieldset,
input,
optgroup,
select,
textarea {
  /* Correct inproperly inherited font sizes/styles */
  font: inherit;
  /* Remove focus outline */
}

button:focus,
fieldset:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: 0;
}

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  /* Address `overflow` set to `hidden` in IE 9/10/11. */
  overflow: visible;
  /* Correct inability to style clickable `input` types in iOS. */
  -webkit-appearance: button;
  /*  Improve usability and consistency of cursor style between image-type `input` and others. */
  cursor: pointer;
  background: #00577f;
  color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  border: 0px none;
  padding: 0.375em 0.75em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #007db6;
}

/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* Text Input */
input[type="text"] {
  line-height: normal;
  border: 1px solid #222;
  border-radius: 2px;
  padding: 0.375em;
  min-width: 50%;
}

/* Textarea */
textarea {
  margin-bottom: 28.5px;
  overflow: auto;
  /* Remove scrollbars in IE */
  width: 100%;
  border: 1px solid #222;
  border-radius: 2px;
  padding: 0.375em;
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid #007db6;
}

/*--------------------------------------------------------------------
 * Images
 *------------------------------------------------------------------*/
/*  Images should always span 100% if their container */
img {
  width: 100%;
  display: inline-block;
}

figure {
  clear: both;
  margin-bottom: 28.5px;
  position: relative;
}

figure:after {
  content: "";
  display: table;
  clear: both;
}

figure.left,
figure.right {
  margin-bottom: 14.25px;
}

figure.bleed figcaption, figure.full-bleed figcaption {
  /* If the image is full-bleed, restore the caption to the content width. */
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  figure.bleed figcaption, figure.full-bleed figcaption {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  figure.bleed figcaption, figure.full-bleed figcaption {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

figcaption {
  font-size: 0.8947em;
}

/* Figure caption alignment */
.caption-left img {
  width: 65%;
  float: right !important;
  clear: right !important;
  display: block;
  margin-left: 0;
  margin-left: 3.1%;
}

.grid .caption-left img {
  width: 66.66%;
}

.one-half.left + .caption-left img {
  margin-left: 0;
}

.caption-right img {
  width: 65%;
  float: left !important;
  clear: left !important;
  display: block;
  margin-left: 0;
  margin-right: 3.1%;
}

.grid .caption-right img {
  width: 66.66%;
}

.one-half.right + .caption-right img {
  margin-right: 0;
}

.caption-center figcaption {
  text-align: center;
}

.number {
  color: #007db6;
}

/*--------------------------------------------------------------------
 * Headers
 * Headers will bleed autimactially if the .header class is applied.
 *------------------------------------------------------------------*/
.header {
  clear: both;
  margin-bottom: 14.25px;
  padding-bottom: 40px;
  /* Restore padding when using the bleed class. */
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header > :last-child {
  margin-bottom: 0 !important;
}

.header .subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.header.bleed {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: -20px;
  padding-top: 20px !important;
}

@media (min-width: 560px) {
  .header.bleed {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .header.bleed {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .header.bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .header.bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

@media (min-width: 560px) {
  .header.bleed {
    margin-top: -57px;
  }
}

@media (min-width: 560px) {
  .header.bleed {
    padding-top: 57px !important;
  }
}

@media (min-width: 820px) {
  .header.bleed {
    padding-top: 57px !important;
  }
}

.header .unit-info {
  background-color: #007db6;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 28.5px;
  overflow: hidden;
  color: #fff;
}

.header .unit-info.bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .header .unit-info.bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .header .unit-info.bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.header .unit-info p {
  margin-bottom: 0;
}

.header .unit-info .unit-number {
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
  line-height: 28.5px;
}

.header .unit-info .unit-title {
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
  line-height: 28.5px;
}

.header .title-info .chapter-number {
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
  color: #007db6;
  margin-bottom: 0;
  font-size: 1.2632em;
}

/*--------------------------------------------------------------------
 * Sections
 *------------------------------------------------------------------*/
.section {
  clear: both;
  margin-bottom: 28.5px;
  padding: 20px;
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

.section > :last-child {
  margin-bottom: 0 !important;
}

.section > :first-child {
  margin-top: 0;
}

.section.bleed,
.section.full-bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .section.bleed,
  .section.full-bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .section.bleed,
  .section.full-bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.section-a {
  background: #e5f2f7;
}

.section-b {
  background: #f8f8f8;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-title.bleed {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 560px) {
  .section-title.bleed {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .section-title.bleed {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .section-title.bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .section-title.bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.section-title.icon {
  display: block;
  width: initial;
  height: initial;
  background-size: 1em 1em;
  background-position: 20px;
  padding-left: 60px;
}

.section-title.icon-right {
  background-position: right 20px top 20px;
  padding-left: 20px;
  padding-right: 60px;
}

.sidenote {
  clear: both;
  margin-bottom: 28.5px;
  padding: 20px;
}

.sidenote:after {
  content: "";
  display: table;
  clear: both;
}

.sidenote > :last-child {
  margin-bottom: 0 !important;
}

.sidenote > :first-child {
  margin-top: 0;
}

.sidenote.bleed,
.sidenote.full-bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .sidenote.bleed,
  .sidenote.full-bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .sidenote.bleed,
  .sidenote.full-bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.sidenote.bleed > .section-title {
  /* Restore sidenote title to full bleed if side note has bleed class */
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .sidenote.bleed > .section-title {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .sidenote.bleed > .section-title {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .sidenote.bleed > .section-title {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .sidenote.bleed > .section-title {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.sidenote-a {
  background: #e5f2f7;
}

.sidenote-b {
  background: #f8f8f8;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

.sidenote-title {
  margin-bottom: 20px;
  /* Bleed the sidenote title to the edge of the sidenote */
}

.sidenote-title.bleed {
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px !important;
  margin-right: -20px;
  margin-bottom: 20px;
}

.sidenote-title.icon {
  display: block;
  width: initial;
  height: initial;
  background-size: 1em 1em;
  background-position: 20px;
  padding-left: 60px;
}

.sidenote-title.icon-right {
  background-position: right 20px top 20px;
  padding-left: 20px;
  padding-right: 60px;
}

.sidenote-important {
  clear: both;
  margin-bottom: 28.5px;
  padding: 20px;
  background: #f8f8f8;
}

.sidenote-important:after {
  content: "";
  display: table;
  clear: both;
}

.sidenote-important > :last-child {
  margin-bottom: 0 !important;
}

.sidenote-important > :first-child {
  margin-top: 0;
}

.sidenote-important.bleed,
.sidenote-important.full-bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .sidenote-important.bleed,
  .sidenote-important.full-bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .sidenote-important.bleed,
  .sidenote-important.full-bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.sidenote-important .sidenote-title {
  background: #bbb;
  font-style: normal;
  color: #fff;
  background-position: right 13.3333px top 50%;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-image: url("images/icon-important-white.svg");
  padding-right: 45px;
}

.sidenote-question {
  clear: both;
  margin-bottom: 28.5px;
  padding: 20px;
  background: #e5f2f7;
}

.sidenote-question:after {
  content: "";
  display: table;
  clear: both;
}

.sidenote-question > :last-child {
  margin-bottom: 0 !important;
}

.sidenote-question > :first-child {
  margin-top: 0;
}

.sidenote-question.bleed,
.sidenote-question.full-bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .sidenote-question.bleed,
  .sidenote-question.full-bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .sidenote-question.bleed,
  .sidenote-question.full-bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.sidenote-question .sidenote-title {
  background: #007db6;
  font-style: normal;
  color: #fff;
  background-position: right 13.3333px top 50%;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-image: url("images/icon-question-white.svg");
  padding-right: 45px;
}

.sidenote-tip {
  clear: both;
  margin-bottom: 28.5px;
  padding: 20px;
  background: #e5f4f7;
}

.sidenote-tip:after {
  content: "";
  display: table;
  clear: both;
}

.sidenote-tip > :last-child {
  margin-bottom: 0 !important;
}

.sidenote-tip > :first-child {
  margin-top: 0;
}

.sidenote-tip.bleed,
.sidenote-tip.full-bleed {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .sidenote-tip.bleed,
  .sidenote-tip.full-bleed {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .sidenote-tip.bleed,
  .sidenote-tip.full-bleed {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.sidenote-tip .sidenote-title {
  background: #0091b2;
  font-style: normal;
  color: #fff;
  background-position: right 13.3333px top 50%;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-image: url("images/icon-star-white.svg");
  padding-right: 45px;
}

/*--------------------------------------------------------------------
 * Fractions
 *
 * Use with with the HTML slash entity, e.g., 1&frasl;10
 * Lorem ipsum dolor <sup class="fraction">5</sup>⁄&frasl;sub>8</sub> 
 * voluptate velit esse.
 *------------------------------------------------------------------*/
.fraction {
  position: relative;
  top: .25em;
  left: -.2em;
  margin-left: .25em;
}

.fraction + sub {
  position: relative;
  top: -0.2em;
  margin-left: .1em;
  margin-right: .2em;
}

var {
  font-style: italic;
  font-family: "Inkling Serif Web", "Meta Serif Office Pro", Georgia, serif;
}

/*--------------------------------------------------------------------
 * Equations
 *------------------------------------------------------------------*/
/* Block Image Equations */
figure > img.equation,
.equation-key > img.equation {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: initial;
}

/* Inline Image Equations */
p > img.equation,
li > img.equation,
figcaption img.equation {
  height: auto;
  display: inline-block;
  vertical-align: -0.1em;
}

/* HTML Equations  */
/* Both inline and block. */
div.equation {
  text-align: center;
  margin: 1em auto;
  display: inline-block;
  padding: 0 10px;
  white-space: nowrap;
}

span.equation {
  white-space: nowrap;
}

@media only screen and (max-width: 559px) {
  span.equation {
    white-space: normal;
  }
}

/*--------------------------------------------------------------------
 * Media
 *------------------------------------------------------------------*/
audio {
  width: 100%;
}

iframe {
  width: 100%;
}

/* Set native videos to always be scaled to their container.
The !important tag is required to override width/height attr */
video {
  width: 100% !important;
  height: auto !important;
  display: block;
}

figcaption .caption-title {
  font-weight: bold;
}

/*--------------------------------------------------------------------
 * Helper Classes
 *
 * Helper classes allow for individual properties to be applied with
 * a single class. This idea is based on the single-responsibility
 * principle and the writings of Harry Roberts.
 * http://csswizardry.com/2012/04/the-single-responsibility-principle-applied-to-css/
 *
 * Warning: While helper classes are quick and effective, they can
 * lead to complex HTML that is harder to maintain. If you find yourself
 * constantly applying the same clases to multiple elements, consider 
 * making a custom class.
 *------------------------------------------------------------------*/
/* Grid Helpers */
.grid {
  box-sizing: border-box;
  clear: both;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid .item {
  position: relative;
  float: left;
  box-sizing: border-box;
  clear: none;
}

.grid-padding {
  margin-left: -10px;
  margin-right: -10px;
}

.grid-padding .item {
  padding: 10px;
}

/* Width Helpers */
.one-whole {
  width: 100%;
  clear: both;
}

.one-half {
  width: 48%;
}

.grid .one-half {
  width: 50%;
}

.one-third {
  width: 31%;
}

.grid .one-third {
  width: 33.3%;
}

.two-thirds {
  width: 65%;
}

.grid .two-thirds {
  width: 66.66%;
}

.one-fourth {
  width: 48%;
}

.grid .one-fourth {
  width: 50%;
}

@media (min-width: 560px) {
  .one-fourth {
    width: 22.5%;
  }
  .grid .one-fourth {
    width: 25%;
  }
}

.two-fourths {
  width: 48%;
}

.grid .two-fourths {
  width: 50%;
}

.three-fourths {
  width: 73.5%;
}

.grid .three-fourths {
  width: 75%;
}

/* On mobile devices, all fractional widths should span 100% of the body. */
@media only screen and (max-width: 559px) {
  .fractional-width, .one-half, .one-third, .two-thirds, .two-fourths, .three-fourths {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .grid .fractional-width, .grid .one-half, .grid .one-third, .grid .two-thirds, .grid .two-fourths, .grid .three-fourths {
    width: 100%;
  }
}

/* Alignment Helpers */
.left {
  float: left !important;
  clear: left !important;
  display: block;
  margin-left: 0;
  margin-right: 3.1%;
}

.one-half.right + .left {
  margin-right: 0;
}

.right {
  float: right !important;
  clear: right !important;
  display: block;
  margin-left: 0;
  margin-left: 3.1%;
}

.one-half.left + .right {
  margin-left: 0;
}

.center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Place left and rights next to eachother if they immediately follow
one another */
.left + .right {
  margin-left: 0;
}

.right + .left {
  margin-right: 0;
}

/* Absolute centering */
.x-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.y-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.x-center.y-center {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Bleed Helpers */
.full-bleed,
.bleed {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 560px) {
  .full-bleed,
  .bleed {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .full-bleed,
  .bleed {
    margin-left: -140px;
    margin-right: -140px;
  }
}

.bleed-padding {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .bleed-padding {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-padding {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .bleed-padding {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .bleed-padding {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.restore-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .restore-padding {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .restore-padding {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.push {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 560px) {
  .push {
    margin-left: 2.1053em;
    margin-right: 2.1053em;
  }
}

@media (min-width: 820px) {
  .push {
    margin-left: 4.2105em;
    margin-right: 4.2105em;
  }
}

.pull {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 560px) {
  .pull {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .pull {
    margin-left: -140px;
  }
}

@media (min-width: 560px) {
  .pull {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .pull {
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .pull {
    margin-left: -2.1053em;
    margin-right: -2.1053em;
  }
}

@media (min-width: 820px) {
  .pull {
    margin-left: -4.2105em;
    margin-right: -4.2105em;
  }
}

.pull-padding {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .pull-padding {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    margin-left: -140px;
  }
}

@media (min-width: 560px) {
  .pull-padding {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .pull-padding {
    margin-left: -2.1053em;
    margin-right: -2.1053em;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    margin-left: -4.2105em;
    margin-right: -4.2105em;
  }
}

@media (min-width: 560px) {
  .pull-padding {
    padding-left: 70px !important;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    padding-left: 140px !important;
  }
}

@media (min-width: 560px) {
  .pull-padding {
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    padding-right: 140px !important;
  }
}

@media (min-width: 560px) {
  .pull-padding {
    padding-left: 2.1053em;
    padding-right: 2.1053em;
  }
}

@media (min-width: 820px) {
  .pull-padding {
    padding-left: 4.2105em;
    padding-right: 4.2105em;
  }
}

.bleed-false {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 560px) {
  .bleed-false {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-false {
    margin-left: -140px;
    margin-right: -140px;
  }
}

.bleed-padding-false {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .bleed-padding-false {
    margin-left: -70px;
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-padding-false {
    margin-left: -140px;
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .bleed-padding-false {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .bleed-padding-false {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.restore-padding-false {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .restore-padding-false {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .restore-padding-false {
    padding-left: 140px !important;
    padding-right: 140px !important;
  }
}

.push-false {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 560px) {
  .push-false {
    margin-left: 2.1053em;
    margin-right: 2.1053em;
  }
}

@media (min-width: 820px) {
  .push-false {
    margin-left: 4.2105em;
    margin-right: 4.2105em;
  }
}

.pull-false {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 560px) {
  .pull-false {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .pull-false {
    margin-left: -140px;
  }
}

@media (min-width: 560px) {
  .pull-false {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .pull-false {
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .pull-false {
    margin-left: -2.1053em;
    margin-right: -2.1053em;
  }
}

@media (min-width: 820px) {
  .pull-false {
    margin-left: -4.2105em;
    margin-right: -4.2105em;
  }
}

.bleed-left {
  margin-left: -20px;
}

@media (min-width: 560px) {
  .bleed-left {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-left {
    margin-left: -140px;
  }
}

.bleed-padding-left {
  margin-left: -20px;
  padding-left: 20px !important;
}

@media (min-width: 560px) {
  .bleed-padding-left {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-padding-left {
    margin-left: -140px;
  }
}

@media (min-width: 560px) {
  .bleed-padding-left {
    padding-left: 70px !important;
  }
}

@media (min-width: 820px) {
  .bleed-padding-left {
    padding-left: 140px !important;
  }
}

.restore-padding-left {
  padding-left: 20px !important;
}

@media (min-width: 560px) {
  .restore-padding-left {
    padding-left: 70px !important;
  }
}

@media (min-width: 820px) {
  .restore-padding-left {
    padding-left: 140px !important;
  }
}

.push-left {
  margin-left: 0;
}

@media (min-width: 560px) {
  .push-left {
    margin-left: 2.1053em;
  }
}

@media (min-width: 820px) {
  .push-left {
    margin-left: 4.2105em;
  }
}

.pull-left {
  margin-left: -20px;
}

@media (min-width: 560px) {
  .pull-left {
    margin-left: -70px;
  }
}

@media (min-width: 820px) {
  .pull-left {
    margin-left: -140px;
  }
}

@media (min-width: 560px) {
  .pull-left {
    margin-left: -2.1053em;
  }
}

@media (min-width: 820px) {
  .pull-left {
    margin-left: -4.2105em;
  }
}

.bleed-right {
  margin-right: -20px;
}

@media (min-width: 560px) {
  .bleed-right {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-right {
    margin-right: -140px;
  }
}

.bleed-padding-right {
  margin-right: -20px;
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .bleed-padding-right {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .bleed-padding-right {
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .bleed-padding-right {
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .bleed-padding-right {
    padding-right: 140px !important;
  }
}

.restore-padding-right {
  padding-right: 20px !important;
}

@media (min-width: 560px) {
  .restore-padding-right {
    padding-right: 70px !important;
  }
}

@media (min-width: 820px) {
  .restore-padding-right {
    padding-right: 140px !important;
  }
}

.push-right {
  margin-right: 0;
}

@media (min-width: 560px) {
  .push-right {
    margin-right: 2.1053em;
  }
}

@media (min-width: 820px) {
  .push-right {
    margin-right: 4.2105em;
  }
}

.pull-right {
  margin-right: -20px;
}

@media (min-width: 560px) {
  .pull-right {
    margin-right: -70px;
  }
}

@media (min-width: 820px) {
  .pull-right {
    margin-right: -140px;
  }
}

@media (min-width: 560px) {
  .pull-right {
    margin-right: -2.1053em;
  }
}

@media (min-width: 820px) {
  .pull-right {
    margin-right: -4.2105em;
  }
}

.bleed-top {
  margin-top: -20px;
}

@media (min-width: 560px) {
  .bleed-top {
    margin-top: -57px;
  }
}

.bleed-bottom {
  margin-bottom: -20px !important;
}

@media (min-width: 560px) {
  .bleed-bottom {
    margin-bottom: -57px !important;
  }
}

/* Margin Helpers */
.mb0 {
  margin-bottom: 0 !important;
}

.mb05 {
  margin-bottom: 0.75em;
}

.mb1 {
  margin-bottom: 1.5em;
}

.mb2 {
  margin-bottom: 3em;
}

.mb3 {
  margin-bottom: 4.5em;
}

.mb4 {
  margin-bottom: 6em;
}

.mt0 {
  margin-top: 0 !important;
}

.mt05 {
  margin-top: 0.75em;
}

.mt1 {
  margin-top: 1.5em;
}

.mt2 {
  margin-top: 3em;
}

.mt3 {
  margin-top: 4.5em;
}

.mt4 {
  margin-top: 6em;
}

/* Padding Helpers */
.padding,
.p1 {
  padding: 20px;
}

@media (min-width: 560px) {
  .padding,
  .p1 {
    padding: 20px;
  }
}

/* Color Helpers */
.color1-100 {
  color: #e5f2f7;
}

.color1-200 {
  color: #4ca4cb;
}

.color1,
.color1-300 {
  color: #007db6;
}

.color1-400 {
  color: #00577f;
}

.color1-500 {
  color: #002536;
}

.color2-100 {
  color: #f8f8f8;
}

.color2-200 {
  color: #cfcfcf;
}

.color2,
.color2-300 {
  color: #bbb;
}

.color2-400 {
  color: #828282;
}

.color2-500 {
  color: #383838;
}

.color3-100 {
  color: #e5f4f7;
}

.color3-200 {
  color: #4cb2c9;
}

.color3,
.color3-300 {
  color: #0091b2;
}

.color3-400 {
  color: #00657c;
}

.color3-500 {
  color: #002b35;
}

/* Background Color Helpers */
.bg-inkling-warm-blue {
  background-color: #007db6;
}

.bg-inkling-cool-blue {
  background-color: #0091b2;
}

.bg-inkling-teal {
  background-color: #009c9e;
}

.bg-inkling-viridian {
  background-color: #00a77e;
}

.bg-inkling-cool-green {
  background-color: #22b24c;
}

.bg-inkling-leaf-green {
  background-color: #60b031;
}

.bg-inkling-yellow-green {
  background-color: #a5b62e;
}

.bg-inkling-orange {
  background-color: #faae19;
}

.bg-color1-100 {
  background-color: #e5f2f7;
}

.bg-color1-200 {
  background-color: #4ca4cb;
}

.bg-color1,
.bg-color1-300 {
  background-color: #007db6;
}

.bg-color1-400 {
  background-color: #00577f;
}

.bg-color1-500 {
  background-color: #002536;
}

.bg-color2-100 {
  background-color: #f8f8f8;
}

.bg-color2-200 {
  background-color: #cfcfcf;
}

.bg-color2,
.bg-color2-300 {
  background-color: #bbb;
}

.bg-color2-400 {
  background-color: #828282;
}

.bg-color2-500 {
  background-color: #383838;
}

.bg-color3-100 {
  background-color: #e5f4f7;
}

.bg-color3-200 {
  background-color: #4cb2c9;
}

.bg-color3,
.bg-color3-300 {
  background-color: #0091b2;
}

.bg-color3-400 {
  background-color: #00657c;
}

.bg-color3-500 {
  background-color: #002b35;
}

.bg-white {
  background-color: #fff;
}

.bg-grey-100 {
  background-color: #eee;
}

.bg-grey-200 {
  background-color: #bbb;
}

.bg-grey-300 {
  background-color: #999;
}

.bg-grey-400 {
  background-color: #666;
}

.bg-grey-500 {
  background-color: #222;
}

.bg-black {
  background-color: #000;
}

.white {
  color: #fff;
}

.grey-100 {
  color: #eee;
}

.grey-200 {
  color: #bbb;
}

.grey-300 {
  color: #999;
}

.grey-400 {
  color: #666;
}

.grey-500 {
  color: #222;
}

.black {
  color: black;
}

.text-color-contrast {
  color: #fff !important;
}

.text-color-contrast p, .text-color-contrast h1, .text-color-contrast h2, .text-color-contrast h3, .text-color-contrast h4, .text-color-contrast h5, .text-color-contrast h6, .text-color-contrast figcaption, .text-color-contrast cite {
  color: #fff !important;
}

.text-color-contrast a {
  color: #4cb2c9 !important;
}

.text-color-contrast table th, .text-color-contrast table td {
  color: #fff !important;
}

.text-color-contrast code {
  background: #00577f !important;
}

.clearboth {
  clear: both !important;
}

/* Shadow Helpers */
.shadow-100 {
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.18), 0px 2px 3px -1px rgba(0, 0, 0, 0.24);
}

.shadow-200 {
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.18), 0px 7px 10px 0px rgba(0, 0, 0, 0.24);
}

.shadow-300 {
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.18), 0px 15px 20px 0px rgba(0, 0, 0, 0.24);
}

.shadow-400 {
  box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.18), 0px 7px 10px 0px rgba(0, 0, 0, 0.24);
}

/* Font Family Helpers */
.font-mono {
  font-family: Courier, "Courier New", monospace;
  font-size: 0.9em;
}

.font-sans {
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
}

.font-serif {
  font-family: "Source Sans Pro", Verdana, Helvetica, sans;
}

/* Font Size Helpers */
.font-size1 {
  font-size: 2.2105em !important;
}

.font-size2 {
  font-size: 1.8947em !important;
}

.font-size3 {
  font-size: 1.2632em !important;
}

.font-size4 {
  font-size: 1.2632em !important;
}

.font-size5 {
  font-size: 1em !important;
}

.font-size6 {
  font-size: 1em !important;
}

/* Text Alignment Helpers */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify;
}

/* Icons */
.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon-large {
  height: 2em;
  width: 2em;
}

.icon-checkbox {
  background-image: url(images/icon-checkbox.svg);
}

.icon-star {
  background-image: url(images/icon-star.svg);
}

.icon-checkmark {
  background-image: url(images/icon-checkmark.svg);
}

.icon-exmark {
  background-image: url(images/icon-exmark.svg);
}

/* END Helpers */
