 .form-container{
    padding:40px 20px;
}
body{
    background-color:#F2F2F6;
}
form{
    box-shadow:0px 0px 5px #bbbbbb;
    padding:20px;
    background-color:white;
    max-width:500px;
    margin:0 auto;
}
h4{
    margin-top:40px;
}
#success{
    display:none;
}
input[type=submit]{
    margin-top:20px;
}
